# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# Java compiled files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env